/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: "Montserrat", serif;
    position: relative;
}

/* Background Image */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../photo/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

/* Blue overlay */
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 115, 233, 0.7);
    z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", serif;
}

/* Navigation Styles */
.navigation {
    display: flex;
    width: 100%;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: space-between;
   
}
.logo {
    color: #ffffff;
}

.logo img {
    width: 7rem;
    height: auto;
    filter: invert(1) brightness(100%) grayscale(0%);
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

/* Search Bar Styles */
.search {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
    color: #ffffff;
    font-weight: bold;
}

/* Search text style */
.search p {
    background-color: #003367;
    width: 13rem;
    text-align: center;
    padding: 10px 10px;
    border-radius: 0.6rem;
    font-weight: bold;
}

/* Magnifying Glass Icon */
.search i {
    font-size: 1.5rem;
    font-weight: bold;
}

/* home section  */
/* Main container for the content */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; /* Space between the left content and the image */
    flex-wrap: wrap; /* Allow elements to wrap on smaller screens */
}

/* Heading section (text) */
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    }
  
    .home-section {
        position: relative;
        .img-pill-bootom {
            position: absolute;
            bottom: -2rem;
            left: 0;
            width: 12rem;
            z-index: 0;
        }
        .col-img img{
            position: absolute;
            width: 70rem;
            right: 8rem;
            bottom: -2rem;
        }
        .model img {
            width: 23rem;
            max-width: 900px;
            position: absolute;
            left: 73rem;
            z-index: -1;
            bottom: 28rem;
        }
        .medical-icon{
            width: 100%;
        }
        .medical-icon img {
            position: absolute;
            width: 15rem;
            max-width: 100%;
            left: 87rem;
            bottom: 3.4rem;
            transform: translateX(-80%);
            z-index: -1;
            filter: contrast(200%) brightness(90%) saturate(50%);
        }
        .icon{
            position: absolute;
            width: 40rem;
            bottom: 6.7rem;
            left: 55rem;
            z-index: -1;
        }
        
        
    }
    .row {
        display: flex;
    }


    /* Paragraph styles */
.col-content {
    width: 70%;
    color: #ffffff;
    h1 {
        font-size: 8rem;
        font-weight: 900;
        line-height: 0.75;
        color: #ffffff;
        margin-bottom: 2rem;
        span {
            color: #00aeff;
        }
    }
    p {
        color: #ffffff;
        margin-bottom: 2rem ;
    }
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #003367;
    color: #00aeff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.footer {
    .container {
        display: flex;
        justify-content: end;
        .social-media-links {
            display: flex;
            gap: 0.75rem;
            a {
                color: #ffffff;
            }
        }
    }
}